:root {
  --background-color: 33, 33, 37;
}
::selection {
  color: white;
  background: #8c34ff7e;
}
* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: rgb(var(--background-color));
  color: white;
  position: relative;
  overflow-x: hidden;
  cursor: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #00000033;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#8d34ff, #5c74ff);
  border-radius: 0px;
}

.seperator {
  display: flex;
  align-items: center;
  margin: 20px 0;
  z-index: 10;
}

.seperator::before,
.seperator::after {
  content: "";
  flex: 1;
  border-top: 3px solid #8d34ff70;
  margin: 0 0px;
  z-index: 10;
}

.seperator span {
  background-color: #8d34ff;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 1rem;
  border-radius: 5px;
  border: #8d34ff 1px solid;
  overflow: hidden;
  z-index: 10;
}
